@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  @apply scroll-smooth font-serif text-white bg-[#030a2d] overflow-x-hidden;
  
}

.shine {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  display: inline-block;
  position: relative;
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}